<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HiddenDoor :: Dashboard</title>
    <link rel="stylesheet" href="/assets/css/hacker.css">
</head>
<body>
    <div class="crt">
        <h1 class="glitch">HiddenDoor Gateway :: Ops Center</h1>
        <div class="system-info">
            <h2>🔧 Server Info</h2>
            <ul>
                <li><strong>Hostname:</strong> 269794f7-8e49-4e11-b2d7-86edaf72485e</li>
                <li><strong>IP Address:</strong> 10.130.53.179</li>
                <li><strong>OS:</strong> Linux #1 SMP Sun Jan 10 15:06:54 PST 2016</li>
                <li><strong>Uptime:</strong> 0.28h</li>
                <li><strong>CPU:</strong> </li>
            </ul>
        </div>
        <div class="actions">
            <p><a href="/">🔙 Quitter</a></p>
        </div>
    </div>
</body>
</html>
