<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HiddenDoor Terminal</title>
    <link rel="stylesheet" href="/static/css/hacker.css">
</head>
<body>
    <div class="dashboard-container">
        <h1>📡 Interface HiddenDoor</h1>
        <form method="POST">
            <input type="text" name="cmd" placeholder="💬 Tape une commande : id, uname, etc.">
            <button type="submit">Envoyer</button>
        </form>
        <div class="output">
            <pre>{{.Output}}</pre>
        </div>
    </div>
</body>
</html>
